/config/database.local.php
/config/mail.local.php
/assets/uploads/produits/*
!/assets/uploads/produits/.gitkeep
/assets/uploads/factures/*
!/assets/uploads/factures/.gitkeep
/assets/uploads/recus/*
!/assets/uploads/recus/.gitkeep
.DS_Store
